*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 810px;
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(276, 49%, 34%, 0.45)), url(../img/fondo.png);
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(276, 49%, 34%, 0.45)), url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    background:rgba(42, 64, 118, 8.7);;
    text-align: center;
    padding: 30px 50px 30px 30px;
}

nav>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: left;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.text-header h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

.text-header h2 {
    color: aquamarine;
    font-size: 30px;
    font-weight: bold;
}

.wave-one{
    background: url(../img/wave.svg);
    height: 280px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.container {
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.image-about-us{
    margin: 20px 20px 80px 20px;
    width: 40%;
}

.about-us .content-text{
    margin: 20px;
    width: 40%;
}

.content-text h3{
    margin-bottom: 15px;
}
.content-text h3 span {
    background: #1b13b6;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.content-text p{
    padding: 0px 0px 30px 15px;
    text-align: justify;
    font-weight: 400;
}

.movies{
    background: rgb(252, 250, 250);
}
#movies .container .title{
    text-align: center;
    color: darkturquoise;
    font-size: 80px;
    margin: 0px 0px 70px 0px;
}

.gallery-movie{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-movie{
    width: 25%;
    height: 400px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.image-movie > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(288, 46%, 31%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
        width: 70px;
}

.hover-gallery p {
    color:#fff
}

.image-movie:hover .hover-gallery{
    transform: scale(1);
}

#stadium{
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
}

.image-stadium img{
    width: 90%;
    height: 50%;
    display: block;
    margin: auto;
    border: 20px solid rgb(57, 7, 236);
    padding: 5px;
    border-radius: 20%;
}
.title{
    text-align: center;
    font-size: 80px;
    color: cornflowerblue;
    padding: 0 0% 0% 0;
}
#stadium h3{
    text-align: center;
    padding: 0 0% 5% 0;
    font-size: 50;
    color: cornflowerblue;
}
footer{
    background-color: darkgray;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer {
    text-align: center;
}
.content-footer h4{
    color: rgb(15, 18, 247);
    border-bottom: 3px solid #807d81;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-footer p{
    color: rgb(15, 18, 247);
}

.title-final{
    text-align: center;
    font-size: 24px;
    margin:24px 0 0 0 ;
    color:#0e90db
}