@media screen and (max-width:900px){
    /*.container{
        margin-left: 0;
    }*/

    nav {
        text-align: center;
        padding: 30px 0 0 0 ;
    }

    nav > a{
        margin-right: 10px;
    }
    
    header{
        background-position: right;
    }
    .text-header h1{
        font-size: 35px;
        margin-left: -6%;
    }

    .text-header h2{
        font-size: 15px;
        margin-left: -6%;
    }
    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-about-us .content-text{
        width: 85%;
    }

    .image-about-us{
        width:82%
    }main .container-about-us{
        padding: 30px 0 60px 0;
    }
    .image-movie{
        width: 45%;
    }

    .service-cont{
        justify-content: center;
        flex-direction: column;
    }

    .service-int{
        width: 100%;
        text-align: center;
    }

    .service-int:nth-child(1),.service-int:nth-child(2) {
        margin-bottom: 60px;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    .container-footer{
        flex-direction: column;
        border: none;
        margin-left: 1%;
    }

    .content-footer{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px){
    nav {
        text-align: center;
        padding: 10px 0 0 0 ;
    }

    nav > a{
        margin-right: 5px;
    }
    
    header{
        background-position: center;
    }

    .text-header h1{
        font-size: 25px;
        margin-left: -6%;
    }

    .text-header h2{
        font-size: 8px;
        margin-left: -6%;
    }

    .image-about-us{
        margin-bottom: 60px;
        width:99%
    }

    .content-text h3{
        font-size: 16px;
    }
    .content-text span{
        padding: 3px;
    }

    .image-movie{
        width:90%
    }



    .container-footer{
        flex-direction: column;
        border: none;
        margin-left: 1%;
    }

    .content-footer{
        margin-bottom: 30px;
    }
    .content-footer h4{
        border: none;
    }
}